span {
    font-weight: bold;
}

.card_contenedor {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 250px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgb(58, 255, 58);
    justify-content: space-between;
}

.card_img {
    border-radius: 5px;
    transition: all .2s;
}

.card_img:hover {
    scale: 1.1;
    box-shadow: 0px 0px 7px 0px rgb(58, 255, 58);
}

.btn_card {
    margin-top: 14px;
    cursor: pointer;
    border: none;
    background: #177731;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}

button:hover {
    background: #27b64d;
    box-shadow: 0px 0px 7px 0px rgba(16, 158, 6, 1);
}